<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title layout:title-pattern="Pickleball Booking">Pickleball Booking</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- CSS chung -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/left-menu.css}">

    <!-- CSS bổ sung từ các trang con -->
    <th:block layout:fragment="styles"></th:block>
</head>
<body>
<!-- Header -->
<div th:replace="layout/header :: header"></div>

<div class="container">
    <!-- Left Menu -->
    <div th:replace="layout/left-menu :: leftMenu"></div>

    <!-- Nội dung trang con -->
    <main layout:fragment="content"></main>
</div>

<!-- Footer -->
<div th:replace="layout/footer :: footer"></div>

<!-- JS chung -->
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/left-menu.js}"></script>
<script th:src="@{/js/footer.js}"></script>

<!-- JS bổ sung từ các trang con -->
<th:block layout:fragment="scripts"></th:block>
</body>
</html>
