<!-- html/layout/master.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pickleball Booking System</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/left-menu.css">
</head>
<body>
<!-- Header -->
<div id="header">
    <!-- Header will be loaded here -->
</div>

<div class="container">
    <!-- Left Menu -->
    <div id="left-menu">
        <!-- Left menu will be loaded here -->
    </div>

    <!-- Main Content -->
    <main id="main-content">
        <!-- Dynamic content render -->
    </main>
</div>

<!-- Footer -->
<div id="footer">
    <!-- Footer will be loaded here -->
</div>

<script src="/js/main.js"></script>
<script src="/js/header.js"></script>
<script src="/js/left-menu.js"></script>
</body>
</html>
