<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/master}">

<head>
    <title layout:title="Thanh toán thành công">Thanh toán thành công</title>
</head>

<body>
<div layout:fragment="content">
    <div style="padding: 20px;">
        <h2 style="color: green;">✅ Cảm ơn bạn! Đơn hàng đã được đặt thành công.</h2>
        <p><a th:href="@{/shop}">Quay lại cửa hàng</a></p>
    </div>
</div>
</body>
</html>
